body, p, h1, h2, h3 {
  margin: 0; }

h1 {
  font-family: 'Arvo', serif;
  font-size: 5vw; }

h2 {
  font-family: 'Arvo', serif;
  font-size: 4vw; }

h3 {
  font-family: 'Arvo', serif;
  font-size: 3vw; }

p {
  font-family: 'Raleway', sans-serif;
  font-size: 2vw; }

a, a:link, a:visited, a:hover, a:focus, a:active {
  color: black;
  text-decoration: none; }

#cover-page {
  overflow: hidden;
  position: relative; }

#box {
  height: 100vh;
  width: 100vw;
  position: relative; }

#border-bottom {
  position: absolute;
  bottom: 10vh;
  left: 0;
  right: 0;
  margin: auto;
  height: 0vh;
  width: 0;
  border-bottom: 1vh black solid; }

#border-right {
  border-right: 1vh black solid;
  position: absolute;
  right: 10vw;
  bottom: 10vh;
  margin: auto;
  height: 0vh;
  width: 0; }

#border-left {
  border-left: 1vh black solid;
  position: absolute;
  left: 10vw;
  bottom: 10vh;
  margin: auto;
  height: 0vh;
  width: 0%; }

#border-top-white {
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
  margin: auto;
  height: 0vh;
  width: 80vw;
  border-bottom: 1vh white solid; }

#border-top-black {
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
  margin: auto;
  height: 0vh;
  width: 80vw;
  border-bottom: 1vh black solid; }

#title {
  position: absolute;
  top: 10vh;
  right: 0;
  left: 0;
  text-align: center;
  width: 45vw;
  margin: auto;
  margin-top: -6vh;
  background-color: white;
  z-index: 1;
  height: 10vh; }

#title-words {
  display: none;
  font-weight: normal; }

#picture {
  background-image: url("../res/profile.jpg");
  border-radius: 50%;
  height: 50vh;
  width: 50vh;
  background-position: 50% 30%;
  background-size: 50vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none; }

#introduction {
  height: 50vh;
  width: 70vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 35vw;
  right: 0;
  margin: auto;
  text-align: justify;
  display: none; }

#portfolio {
  background-color: #002b36;
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;
  display: none; }

#portfolio-title {
  padding-top: 8vh;
  color: #eee8d5; }

#projects {
  position: relative;
  width: 100vw;
  height: 100vh; }

.project {
  width: 28vw;
  height: 28vw;
  background-color: #2aa198;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 20vh; }

.project-tag {
  position: relative;
  top: 5vh; }

#project-1 {
  left: 5vw; }

#project-1-tag {
  color: white; }

#project-1-picture {
  position: absolute;
  bottom: 0;
  margin: auto;
  height: 70%;
  width: 100%;
  background-image: url("../res/a-to-z.png");
  background-position: 50% 20%;
  background-size: 100vh; }

#project-2 {
  left: 36vw; }

#project-2-tag {
  color: white; }

#project-2-picture {
  position: absolute;
  bottom: 0;
  margin: auto;
  height: 70%;
  width: 100%;
  background-image: url("../res/matrix-operations.png");
  background-size: cover; }

#project-3 {
  left: 67vw; }

#project-3-tag {
  color: white; }

#project-3-picture {
  position: absolute;
  bottom: 0;
  margin: auto;
  height: 70%;
  width: 100%;
  background-image: url("../res/a-to-z.png");
  background-position: 50% 20%;
  background-size: 100vh; }

#skills {
  min-height: 100vh;
  background-color: #fdf6e3;
  overflow: hidden;
  position: relative;
  display: none; }

#skills-title {
  text-align: center;
  top: 5vh;
  position: relative;
  height: 10vh; }

#skills-showcase {
  height: 80vh;
  width: 100vw;
  top: 20vh;
  position: absolute;
  background-color: #fdf6e3; }

.block {
  position: relative;
  top: 0;
  height: 70vh; }

.title-row {
  border-top: unset !important; }

.row1 {
  top: 13vh; }

.row2 {
  top: 26vh; }

.row3 {
  top: 39vh; }

.row4 {
  top: 52vh; }

.row5 {
  top: 65vh; }

#html {
  left: 20vw;
  position: absolute; }

#css {
  left: 35vw;
  position: absolute; }

#js {
  left: 55vw;
  position: absolute; }

.row {
  border-top: 1vh solid black;
  vertical-align: middle;
  line-height: 13vh;
  width: 80vw;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  color: black; }

#skill-html {
  left: 9vw;
  position: relative; }

#skill-css {
  left: 23vw;
  position: relative; }

#skill-js {
  left: 44vw;
  position: relative; }

#java {
  left: 20vw;
  position: absolute; }

#skill-java {
  left: 5vw;
  position: relative; }

#python3 {
  left: 30vw;
  position: absolute; }

#skill-python3 {
  left: 16vw;
  position: relative; }

#perl {
  left: 45vw;
  position: absolute; }

#skill-perl {
  left: 26vw;
  position: relative; }

#haskell {
  left: 55vw;
  position: absolute; }

#skill-haskell {
  left: 47vw;
  position: relative; }

#ruby {
  left: 70vw;
  position: absolute; }

#skill-ruby {
  left: 57vw;
  position: relative; }

#algebra {
  left: 20vw;
  position: absolute; }

#skill-algebra {
  left: 14vw;
  position: relative; }

#calculus-ab {
  left: 35vw;
  position: absolute; }

#skill-calculus-ab {
  left: 30vw;
  position: relative; }

#calculus-bc {
  left: 56vw;
  position: absolute; }

#skill-calculus-bc {
  left: 48vw;
  position: relative; }

#linux {
  left: 20vw;
  position: absolute; }

#skill-linux {
  left: 13vw;
  position: relative; }

#git {
  left: 42vw;
  position: absolute; }

#skill-git {
  left: 25vw;
  position: relative; }

#vim {
  left: 52vw;
  position: absolute; }

#skill-vim {
  left: 44vw;
  position: relative; }

#hardware {
  left: 64vw;
  position: absolute; }

#skill-hardware {
  left: 50vw;
  position: relative; }

#nav-circles {
  display: inline-block;
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: black; }

.fa-circle-o {
  cursor: pointer; }

#nav-circles .fa {
  font-size: 1.5vw;
  float: none;
  vertical-align: middle;
  line-height: 4vh;
  margin-left: 1vw; }

#email {
  height: 100vh;
  text-align: center;
  position: relative;
  display: none; }

#contact-text {
  top: 10vh;
  position: relative; }

#email-form {
  height: 50vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute; }

#email-name, #email-replyto {
  border: 0.5vw black solid;
  clear: both;
  position: relative;
  float: left;
  margin-top: 1vh;
  height: 5vh;
  left: 35vw;
  right: 35vw;
  width: 30vw;
  text-align: center; }

footer {
  height: 8vh;
  position: relative;
  display: none; }

#icons {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0vh;
  height: 4vh;
  margin: auto; }

#icons .fa {
  font-size: 6vh;
  vertical-align: middle;
  line-height: 4vh;
  margin-left: 1vw;
  float: left; }

.icon {
  font-size: 4vh;
  vertical-align: middle;
  line-height: 4vh;
  margin-left: 1vw;
  float: left; }

/*# sourceMappingURL=index.css.map */
