---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "whiteglass";

@media print {
  .site-header, .site-footer {
    display: none;
  }
}

@media not print {
  .source {
    display: none;
  }
}

.source {
  text-align: center;
}
